* {
	background-color: #FFFFFF;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

#topBar {
	height: 64px;
	width: 100%;
	border-bottom: 1px solid;
}

#name {
	font-size: 30px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 30px;
	float: left;
	color: #191970;
}

#menu {
	list-style-type: none; 
	float: right;
}

.menuitem {
	font-size: 30px;
	color: #1A1A1A;
	float: left; 
	margin-right: 30px;
	margin-top: 30px;

}

#center_circle {
	width: 250px;
	height: 250px;
	margin: auto;
	margin-top: 100px;
	border-radius: 100%;
	background-color: #191970;
	float: left;

}

#left_circle {
	width: 250px;
	height: 250px;
	margin-top: 100px;
	margin-left: 100px;
	border-radius: 100%;
	background-color: #FF6A6A;
	float: left;
}


#center_title {
	width: 250px;
	height: 60px;
	margin: auto;
	/*margin-top: 400px;*/
	font-size: 30px;
	text-align: center;
}

#button {
	width: 250px; 
	margin: auto;
	border-radius: 30%;
	text-align: center;  

}


a {
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}
