* {
	background-color: #FAEBD7;
	font-family: Courier;
	margin: 0;
	padding: 0;
}

#topBar {
	background-color: #AFEEEE;
	height: 75px;
	width: 100%;
	padding: 5%;

}

h3 {
	font-size: 50px;
	color: #1A1A1A;
}