* {
	background-color: #FFFFFF;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

#topBar {
	height: 50px;
	width: 100%;
}

#name {
	font-size: 30px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 30px;
	color: #191970;
}

#menu1 {
	font-size: 30px;
	color: #1A1A1A;
	float: right
}

#menu2 {
	font-size: 30px;
	color: #1A1A1A;
	float: right;
}

#center_circle {
	margin: auto;
	margin-top: 60px;
	border-radius: 100%;
	color: #191970;

}

